/* general css */

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

#main-container {
  width: 800px;
  margin: 0 auto;
  background-color: rgb(199, 217, 240);
  padding: 60px 0 200px;
  position: relative;
}

h1 {
  text-align: center;
}

/* board css */

table, td {
  border: 1px solid #000;
  background-color: white;
}

td {
  width: 100px;
  height: 100px;
  font-size: 70px;
  line-height: 100px;
  text-align: center;
}

#board table {
  border-spacing: 0;
  width: 314px;
  margin: 0 auto;
  border-radius: 5px;
}

/* player, button css */

#control-table {
  width: 314px;
  margin: 0 auto;
}

#player-table {
  float:left;
  font-size: 1.5em;
  padding-top: 10px;
}
#player-table p {
  margin: 10px 0;
}

#reset-button {
  margin-top: 30px;
  float:right;
}

button {
  background-color: #fff;
  padding: 10px 12px;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
}

#winner,
#tie {
  width: 200px;
  height: 150px;
  display: none;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 50%;
  background-color: rgb(255, 155, 155);
  border: 2px solid #000;
  border-radius: 5px;
  margin-left: -100px;
}